{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!--Owl Carousel CSS-->

  <!--FontAwesome CSS-->
  <link rel="stylesheet" href="/static/css/fontawesome.css">
  <link rel="stylesheet" href="/static/css/fontawesome.min.css">


  <!--Custom CSS-->
  <link rel="stylesheet" href="/static/css/all.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
    
  <style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'projectindex' %}">SD Writes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'projectindex' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blogindex' %}">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
              </ul>
              <div>
                Hello,{{ user.username|default:'Guest' }}!<br>
          
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a><br>
          
                {% else %}
                <a href="{% url 'login' %}">Login</a>|<a href="{% url 'register' %}">Register</a>
          
                {% endif %}
              </div>
            </div>
        </div>
    </nav>


  <div class="container">
    {% block content %}
    {% endblock %}
  </div>




   <!-- Start Footer -->
   <footer class="container-fluid bg-dark text-center p-2 mt-5">
    <small class="text-white">|Copyright &copy; 2021| </small>
    <img src="{% static 'images/payment.png' %}" alt="" srcset="" class="img-fluid" height="2px">
</footer> <!-- End Footer -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/static/js/all.min.js"></script>
<script src="/static/js/fontawesome.js"></script>
<script src="/static/js/all.min.js"></script>

</body>
</html>