{% extends "login/base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
      <h1 class="display-4 text-center">Projects</h1>
      <p class="lead text-center">"Don't be a jerk, even if you are brilliant, don't be a jerk."</p>
    </div>
  </div>

<div class="container">
    <div class="row">
    {% for project in projects %}
        <div class="col-md-3">
            <div class="card justify-content m-2">
                <img class="card-img-top" src="{{ project.image.url }}" width="250px" height="280px">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text justify-text">{{ project.description | slice:":50"}}...</p>
                    <a href="{% url 'projectdetails' project.id %}"
                    class="btn btn-primary">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}